@import url('http://fonts.cdnfonts.com/css/product-sans');
:root{
    --accent-color:  #08ac7b;
    --title-color: #08ac90c7;
    --background-color: white;
    --link-color: rgb(6, 153, 128);
    --normal-opacity-color: rgba(0, 0, 0, 0.767);
    --button-background-color: #07aa74;
    --button-text-color: white;
    --border-color: rgba(5, 230, 143, 0.233);
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Product Sans', sans-serif;
    background-color: #a4a9ad1c;

}


header {
    box-sizing: border-box;
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);*/
   /* background: linear-gradient(90deg, #e3ffe7 0%, #eff1f3 100%);*/
    /* background-image:  url("img/header1.gif");*/
    background-color: var(--background-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0%;
    height: 50px;
    width: 90%;
    left: 5%;
    /*background-color: rgb(255, 255, 255);*/
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.267);*/
    z-index: 3;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    gap: 20px;
    padding-right: 15px;
}

header>.site-name-logo {
    box-sizing: border-box;
    display: inline-block;
   /* border: 1px solid #ff002b;*/
    margin: 0%;
    padding: 0%;
}

header>.site-name-logo h1 {
    box-sizing: border-box;
    margin: 0%;
    height: 100%;
    padding: 2px;
    font-size: 1.6rem;
    text-align: center;
    color: var(--accent-color);
}

header>.app-name {
    box-sizing: border-box;
  /*  border: 1px solid #ff002b;*/
    margin: 0%;
    padding: 0%;
    width: max-content;
}

header>.app-name h1 {
    box-sizing: border-box;
    align-self: center;rgba(6, 82, 112, 0.233);
    /*  border: 1px solid #ff002b; */
    margin: 0%;
    padding: 0%;
    height: 100%;
    font-size: 1.3rem;
    text-align: center;
   /* color: var(--title-color);*/
    /*color: rgba(26, 206, 182, 0.911);*/
}

header>#profile-dropdown {
    /*   border: 1px solid #ff002b;*/
    cursor: pointer;
    position: absolute;
    right: 10px;
    padding: 0%;
    margin: 0%;
    margin-top: 5px;
}

#profile-dropdown>.profile-wrapper {
    /*   border: 1px solid #ff002b;*/
    box-sizing: border-box;
    padding: 3%;
    width: 35px;
    height: 35px;
    display: inline-block;
}

#profile-dropdown>.profile-wrapper img {
    width: 90%;
    height: 90%;
}

header>.profile-dropdown {
    position: absolute;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  /*  border: 1px solid var(--title-color);*/
    background-color: var(--background-color);
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-top: 10px;
    right: 0px;
    width: 200px;
    top: 60px;
    /* correct this line*/
    z-index: 2;
    display: none;
    flex-flow: column;
    justify-content: space-between;
}

.profile-dropdown>a {
    text-decoration: none;
    font-size: 16px;
    color: #557997;
    /*  border: 1px solid #ff002b;*/
    box-sizing: border-box;
    margin: 5px 35px;
    width: max-content;
}

.profile-dropdown>a:hover {
    color: #008cff;
}

.profile-dropdown>hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-dropdown>.user-profile {
    /* border: 1px solid brown;*/
    display: flex;
    padding-left: 15px;
    margin-bottom: 5px;
    gap: 10px;
}

.profile-dropdown>.user-profile .user {
    /*  border: 1px solid brown;*/
    width: max-content;
    margin-top: 2px;
}

.user-profile>.user p {
    /*  border: 1px solid brown;*/
    font-size: 18px;
    margin: 0%;
}

.user-profile>.user a {
    text-decoration: none;
    /* border: 1px solid rgb(42, 151, 165);*/
    color: rgba(0, 0, 0, 0.63);
    padding-left: 10px;
    display: inline-block;
    font-size: 0.9em;

}

.user-profile>.user a:hover {
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    /* border: 1px solid brown;*/
}

.user>a i:hover {
    box-sizing: border-box;
    margin-left: 10px;
}

.user>a i {
    display: inline-block;
    margin-left: 5px;
    /* border: 1px solid brown;*/
}

.profile-dropdown>.user-profile .profile-wrapper {
    width: 35px;
    height: 35px;
    border: 1px solid rgba(42, 120, 165, 0.438);
    padding-top: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding-left: 3px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.user-profile>.profile-wrapper img {
    width: 92%;
    height: 92%;
    object-fit: cover;
    border-radius: 50px;
}

.profile-dropdown>.sign-out {
    color: rgba(255, 81, 0, 0.863);
}

.profile-pic>.profile-wrapper {
    box-sizing: border-box;
    margin-left: 4px;
    width: 40px;
    height: 40px;
    border: 1px solid #557997;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.profile-pic>.profile-wrapper img {
    padding: 2px;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

header>.notification {
    /* border: 1px solid brown;*/
    margin-right: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    height: fit-content;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

}

.notification>a {
    box-sizing: border-box;
    font-size: 27px;
    width: 100%;
    color: var(--accent-color);
    cursor: pointer;
}

.notification>a:hover {
    color: #008cff;
}


header>.site-logo {
    display: none;
}

main {
    margin-top: 60px;
    margin-left: 5%;
    height: max-content;
    width: 90%;
    /* border: 1px solid yellow;*/
    display: grid;
    grid-template-columns: 20% 1fr;
    row-gap: 20px;
    column-gap: 30px;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px 5px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: max-content;
    /*  border-right: 1px solid rgba(6, 82, 112, 0.233);*/
    border-left: 1px solid var(--border-color);
    background-color: var(--background-color);
    position: sticky;
    top: 60px;
}

.sidebar-list {
    margin: 0%;
    padding-bottom: 15px;
   /* border: 1px solid #ff002b;*/
}
.sidebar-list>.sidebar-list-title{
   /* border: 1px solid #ff002b;*/
    margin: 0%;
    padding: 3px 0px;
    margin-bottom: 5px;
}

.sidebar-list>li {
    box-sizing: border-box;
    list-style:lower-roman;
    box-sizing: border-box;
  /*  border: 1px solid #ff002b;*/
    margin-bottom: 5px;
    padding-left: 10px;
}

.sidebar-list>.active {
    /*  background-color: #7391af6e;*/
   /* background-color: #55799742;*/
   font-weight: bold;
}
.sidebar-list>li:hover{
    font-weight: bold;
}

.sidebar-list>li a {
    /* border: 1px solid #0051ff;*/
    color: #33414d;
    box-sizing: border-box;
    font-size: 1.0em;
    text-decoration: none;
    text-align: center;
}

.sidebar>hr {
    margin: 0%;
    padding: 0%;
    margin-bottom: 10px;
    size: 1px;
    height: 1px;
    color: var(--border-color);
}
.article-stats-list{
    /*border: 1px solid brown;*/
    margin: 0%;
    padding-left: 20px;
}
.article-stats-list>.stats-title{
   /*  border: 1px solid #ff002b;*/
     margin: 0%;
     padding-left:20px;
     margin-bottom: 5px;
 }
.article-stats-list>li{
    list-style: none;
    /*list-style:inside;*/
    color: #33414d;
    font-size: 1.0em;
    padding: 3px 10px;
}
.article-stats-list>li .stat{
    color: var(--accent-color);
    font-weight: bold;
    display: inline-block;
    margin: 0% 3px;
}
.article-stats-list>li:last-of-type{
    list-style: none;
    margin-top: 10px;
    text-align: center;
}
.article-stats-list>li a{
    text-decoration: none;
    color: var(--accent-color);
}

.full-content-wrapper{
    border-left: 1px solid var(--border-color);
    margin: 0%;
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 0%;
    background-color: var(--background-color);
}
.blog-wrapper {
    box-sizing: border-box;
   /* border: 1px solid #00000086;*/
     /* border-left: 1px solid rgba(5, 74, 105, 0.253);
      border-right: 1px solid rgba(5, 74, 105, 0.253);*/
    margin: 0%;
    padding: 0%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.blog-contents {
    box-sizing: border-box;
    width: 96%;
    margin-left: 2%;
    height: max-content;
  /* border: 1px solid brown;*/
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: max-content;
    row-gap: 10px;
    margin-top: 2px;
}

.profile-pic {
    grid-column: 1/2;
  /*  border: 1px solid rgb(42, 61, 165);*/
    margin-top: 5px;
}

.profile-pic>.profile-wrapper {
    box-sizing: border-box;
    margin-left: 4px;
    width: 40px;
    height: 40px;
    border: 1px solid #23679e7e;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.profile-pic>.profile-wrapper img {
    padding: 2px;
    width: 89%;
    height: 89%;
    object-fit: cover;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.blog-metadata {
    grid-column: 2/4;
    box-sizing: border-box;
   /* border: 1px solid rgb(165, 153, 42);*/
    /* height: 24px;*/
    margin: 0%;
    margin-top: 5px;
    height: fit-content;
    font-size: 0.9em;
    position: relative;
}

.blog-metadata>.info,
.blog-metadata>.info-action {
    box-sizing: border-box;
   /* border: 1px solid rgb(42, 61, 165);*/
    display: inline-block;
    padding: 2px;
   margin-top: 6px;
}

.blog-metadata>.info .user-name {
    text-decoration: none;
    color: var(--link-color);
    text-align: center;
    font-size: 1.2em;
    padding: 0%;
    margin-right: 5px;
}

.blog-metadata>.info .user-name:hover {
    color: var(--link-color);
}

.blog-metadata>.info .date {
    text-decoration: none;
    text-align: center;
    color: var(--normal-opacity-color);
}

.info-action {
    box-sizing: border-box;
    /*  border: 1px solid #557997;*/
    float: right;

}

.info-action>i {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 8px;
    background-color: var(--button-background-color);
   /* border: 1px solid #06d67f4b;*/
    color: var(--button-text-color);
    text-align: center;
    height: max-content;
    width: max-content;
    padding: 3px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.info-action>.locked {
    background-color: rgba(255, 166, 0, 0.39);
    border: 1px solid rgb(236, 157, 9);
}

.info-action>i:hover {
    cursor: pointer;
   /* background-color: #557997;
    border: 1px solid #557997;
    color: #ffffff;*/

}
.info-action>i span{
    display: inline-block;
    padding: 0% 3px;
}

.info-action>.small-device {
    display: none;
}

.info-action>.locked {
    background-color: rgba(255, 166, 0, 0.39);
    border: 1px solid rgb(236, 157, 9);
    color: #557997;
    cursor: none;
}

.blog-action {
    /* border: 2px solid brown;*/
    margin-top: 5px;
    margin-bottom: 30px;
    height: max-content;
    width: max-content;
    padding: 2px;
    align-self: center;
    position: sticky;
    bottom: 70px;
    display: flex;
    /*  flex-flow: column;*/
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.blog-action>div {
    display: inline-block;
    box-sizing: border-box;
    font-weight: 600;
    color: var(--button-text-color);
    /* border: 1px solid #3c7cb16c;*/
    background-color: var(--button-background-color);
    /*box-shadow: 0 0 3px rgb(255, 94, 0);*/
    border-radius: 50px;
    padding: 0%;
    padding: 5px 15px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.blog-action>div i {
    font-weight: unset;
}

.blog-action>div i:hover {
    cursor: pointer;
    /* background-color: #5579973b;*/
   /* color: rgb(10, 72, 126);*/
}

.blog-action>.author {
    padding: 2px 9px;
    right: 20px;
}

.blog-title {
    grid-column: 1/3;
    box-sizing: border-box;
   /* border: 1px solid brown;*/
    margin: 0%;
    padding: 0%;
    height: max-content;
    text-align: center;
}

.blog-data {
    /*  border: 1px solid rgb(118, 165, 42);*/
    margin: 1px;
    margin-top: 15px;
    width: 95%;
}

.blog-data>div {
    /*  border: 1px solid brown;*/
    margin: 2px;
}

.blog-data>.section .section-title {
    /*  border: 1px solid brown;*/
    margin: 0%;
}

.blog-data>.section p {
    /*  border: 1px solid brown;*/
    padding: 0%;
    margin-top: 0%;
}


.all-comments{
    grid-column: 2/4;
    padding: 0%;
    margin: 0%;
}



.comment-title {
    /* border: 1px solid brown;*/
   /* border-left: 1px solid var(--border-color);*/
    box-sizing: border-box;
    margin: 0%;
    color: var(--accent-color);
    padding: 10px 10px;
    text-align: center;
    position: sticky;
    top: 50px;
    width: 100%;
    align-self: center;
    background-color: var(--background-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* ADD COMMENT */
.add-comment {
    /*border: 2px solid brown;
        */
    margin-top: 20px;
    width: max-content;
    background-color: var(--background-color);
    position: fixed;
    top: 80px;
    z-index: 5;
    display: none;
    flex-flow: column;
    gap: 10px;
    padding: 10px;
    padding-top: 0%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.add-comment>.close {
    display: inline-block;
    /* border: 2px solid brown;*/
    width: max-content;
    color: #b13719c0;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
    padding: 0%;
    margin: 0%;
}

.add-comment>label {
    display: block;
    padding: 2px 10px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid var(--border-color);
    margin: 0%;
    color: var(--accent-color);
}

.add-comment>textarea {
    border: 1px solid var(--border-color);
    outline: 1px #5579975d;
    padding: 3px 5px;
    font-family: Product Sans, sans-serif;
    /*border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;*/
}

.add-comment>i {
    display: block;
    width: fit-content;
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    padding: 3px 15px;
    cursor: pointer;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
   /* box-shadow: 0 0 3px rgb(233, 89, 5);*/
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


/* COMMENTS */
.all-comments {
    display: flex;
    flex-flow: column;
  /*  border: 1px solid brown;*/
    width: 100%;
    align-items: center;
}

.comments-wrapper {
    border-left: 1px solid var(--border-color);
    background-color: var(--background-color);
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    padding: 0% 10px;
}

.comments-wrapper>div {
    width: 100%;
    align-self: center;
   /* border: 1px solid brown;*/
}

.comments-wrapper>.user-info {
   /* border: 1px solid brown;*/
    position: relative;
    display: flex;
    padding-bottom: 10px;
    z-index: unset;
}

.comment-action {
  /*  border: 1px solid brown;*/
    position: absolute;
    right: 5px;
    align-self: center;
    height: max-content;
}

.comment-action>i {
    width: fit-content;
    cursor: pointer;
    height: max-content;
    padding: 2px 10px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.comment-action>i:hover{
    cursor: pointer;
}

.comments-wrapper>.comment-content {
    /*  border: 1px solid brown;*/
    padding: 0%;
    margin: 0%;
}

.comment-content>p {
    /* border: 1px solid brown;*/
    padding: 0%;
    text-align: left;
    margin-top: 0%;
}

footer {
    display: none;
}

@media screen and (max-width: 1000px) {
    header{
        position: fixed;
        top: 0%;
        left: 1%;
        right: 1%;
        width: 98%;
    }
    main {
        width: 98%;
        margin: 1%;
        margin-top: 60px;
    }
    .sidebar{
        width: 100%;
    }
    .add-comment {
        /*border: 2px solid brown;
            */
        margin-top: 20px;
        width: 80%;
        min-height: 200px;
        position: fixed;
        bottom: 90px;
        top: auto;
    }
}
@media screen and (max-width: 850px){
    .sidebar{
        display: none;
    }
    .full-content-wrapper{
        grid-column: 1/4;
    }
    .all-comments{
        grid-column: 1/4;
    }
    .app-name>h2{
        font-size: 1.2em;
    }
    .site-name-logo>h1{
        font-size: 1.3;
    }
}
@media screen and (max-width: 620px) {
    header{
        position: fixed;
        left: 0%;
        width: 100%;
        right: 0%;
        justify-content: left;
    }
    .site-name-logo>h1{
        display: none;
    }
    main{
        width: 100%;
        margin: 60px 0% 0% 0%;
    }
    div>i .reaction-text {
        display: none;
    }
    .all-comments{
        width: 100%;
        margin: 0%;
       /* border: 1px solid black;*/
    }
    .comments-wrapper {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .comment-title{
        width: 100%;
        font-size: 1.2em;
        padding: 4px 10px;
        box-shadow: unset;
        border-bottom: 1px solid var(--border-color);
    }
    .info-action .large-device {
        display: none;
    }
    .info-action>.small-device {
        display: inline-block;
        background-color: unset;
        border: unset;
        color: var(--accent-color);
        font-size: 20px;
    }

}

@media screen and (max-width: 550px) {
    header {
        position: fixed;
        top: 0%;
        right: 0%;
        left: 0%;
        height: 50px;
    }

    .sidebar {
        display: none;
    }

    .info-action .large-device {
        display: none;
    }

    .info-action .small-device {
        display: inline-block;
        background-color: unset;
        border: unset;
        font-size: 20px;
    }

    #info-mobile {
        /*border: 2px solid brown;
            */
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 20px;
        top: 12px;
        z-index: 1;
        display: none;
        flex-flow: column;
        align-items: flex-start;
        margin: 0%;
        padding: 3px 5px;
        padding-top: 32px;
        background-color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    #info-mobile>i {
        width: max-content;
        /*border: 2px solid brown;
            */
        font-size: 1.0em;
        width: max-content;
        height: max-content;
        margin-left: 10px;
        margin-bottom: 22px;
        padding: 3px 10px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

    #close {
        /*  border: 2px solid brown;*/
        align-self: flex-end;
        position: absolute;
        top: 4px;
        right: 12px;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
        float: right;
        color: rgba(231, 143, 9, 0.897);
    }

    main {
        width: 100%;
        margin-left: 0%;
    }

}

@media screen and (max-width: 450px) {
    footer {
        background-color: var(--background-color);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        /* Display */
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    footer>.footer-icon {
        box-sizing: border-box;
        /*  border: 1px solid brown;*/
        height: 100%;
        display: inline-block;
        text-align: center;
        padding: 0%;
        padding-top: 4px;
        margin: 1px 10px;
        /*   margin-left: 10px;
            margin-right: 10px;*/
    }

    footer>.footer-icon i {
        font-size: 30px;
        /*  border: 1px solid brown;*/
        color: var(--accent-color);
        cursor: pointer;
    }

    .footer-icon>i:hover {
        cursor: pointer;
        color: #df8a0afb;
        /* color: #000000da;*/
    }

    footer>.display i {
        color: #df8a0afb;
    }

    footer>.footer-icon span {
        font-size: 16px;
        color: #000000da;
        /* border: 1px solid brown;*/
        display: block;
    }

    .info>span {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .comments-wrapper {
        margin: 0%;
        padding: 0%;
        width: 95%;
    }

    .comments-wrapper>.user-info {
        /*  border: 1px solid brown;*/
        border-top: 1px solid rgba(2, 50, 56, 0.192);
        display: flex;
        gap: 0%;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .comments-wrapper>.user-info .profile-pic {
        /*  border: 1px solid brown;*/
        margin: 0%;
        padding: 0%;
        width: max-content;
        height: max-content;
    }

    .user-info>.profile-pic .profile-wrapper {
        /* border: 1px solid brown;*/
        box-sizing: border-box;
        width: 35px;
        height: 35px;
        padding: 1px;
    }

    .user-info>.profile-pic #comment-user-img {
        width: 100%;
        height: 100%;
    }

    .comments-wrapper>.user-info .blog-metadata {
        /*  border: 1px solid brown;*/
        margin: 0%;
        padding: 0%;
        width: max-content;
        height: max-content;
    }

}